* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 23, 23);
    position: relative;
}


/*upper nav*/
.upper-nav-container {
    width: 100%;
    height: 64px;
    background-color: rgb(13, 13, 13);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    margin-left: 200px;
}

.upper-nav-container a i {
    color: white;
    padding-left: 40px;
    font-size: 24px;
}

.upper-nav-container a i:hover {
    opacity: 0.6;
}

.header_nav {
    position: relative;
}
@media(max-width: 700px) {
    .upper-nav-container {
        margin-left: 0px;
    }
}
/*middle section*/
.hero {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
}

.music-list-container {
    margin-left: 200px;
}
@media(max-width: 700px) {
    .music-list-container {
        margin-left: 0px;
    }
}
/*side bar*/
.sider-bar {
    background-color: black;
    width: 200px;
    position: fixed;
    height: 100%;
}

.sider-bar ul {
    display: flex;
    flex-direction: column;
    padding-left: 65px;
    padding-top: 100px;
}

.sider-bar ul li {
    text-decoration: none;
    color: white;
    list-style: none;
    margin-bottom: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.sider-bar ul li:hover {
    color: gray;
}

.sider-bar ul li:active {
    color: white;
}

@media(max-width: 700px) {
    .sider-bar {
        display: none;
    }
}


/*Song container*/
.song-container {
    background-color: rgb(24, 23, 23);
    padding: 15px 60px;
    border-bottom: 1px solid rgb(30, 27, 27);  
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.song-image-continer img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-right: 40px;
    object-fit: cover;
    cursor: pointer;
}

.song-name-container h2 {
    margin-bottom: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
}

.song-name-container h2:hover {
    color: gray;
}

.song-name-container h2:active {
    color: white;
}

.song-name-container p {
    color: gray;
    font-size: 12px;
}

.song-stats {
    display: flex;
    align-items: center;    
}

.play-pause-button-container a i {
    margin-right: 42px;
    cursor: pointer;
}

.fa-play,
.fa-pause {
    color: gray;
    font-size: 40px;
}

.fa-play:hover,
.fa-pause:hover {
    opacity: 0.6;
}



@media(max-width: 700px) {
    .song-image-continer img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        margin-right: 20px;
    }

    .song-name-container h2 {
        font-size: 12px;
        width: 300px;
        margin-right: 30px;
    }

    .song-name-container p {
        font-size: 10px;
    }

    .song-container {
        padding: 20px;
    }

    .play-pause-button-container a i {
        margin-right: 15px;
    }
    

}

/*lower nav*/
.lower-nav-container {
    height: 64px;
    width: 100%;
    padding: 18px 40px;
    background-color: rgb(13, 13, 13);
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
}

@media(max-width: 700px){
    .lower-nav-container {
        display: flex;
    }
}

.lower-nav-container a i {
    color: white;
    font-size: 24px;
}

.lower-nav-container a i:hover {
    opacity: 0.6;
}


/*search box*/
.search-box-container {
    display: flex;
    align-items: center;
}

.input-box {
    background-color: black;
    border: none;
    outline: none;
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.search-button {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-button:hover {
    opacity: 0.6;
}

.search-button:active {
    color: rgb(45, 44, 44);
}


.search-upper-nav-container {
    background-color: lightblue;
    position: fixed;
    width: 100%;
    height: 64px;
}

/*for currently-playing-track-container */
.currently-playing-track-container {
    height: 64px;
    width: 100%;
    background-color: rgb(38, 40, 42);
    position: fixed;
    bottom: 0;
    padding-left: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 200px;
}

.currently-playing-track-img-container img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-right: 40px;
}

.song-props h2 {
    font-size: 16px;
    color: white;
}

#progress-bar {
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    background-color: rgb(34, 117, 182);
    border-radius: 5px;
}

#progress-bar::-webkit-scrollbar-thumb{
    display: none;
    color: white;
}

@media(max-width: 700px) {
    .currently-playing-track-container {
        padding-left: 20px;
        bottom: 64px;
        margin-left: 0;
    }

    .currently-playing-track-img-container img {
        margin-right: 30px;
    }
}